<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <div id="wrapper">
       
            <div id="container">
                <div id="sidebar">

               <div class="header-sidebar">
                  <div>
                    <img src="Avatar/avatar_io.jpg" alt=""><span>Sofia</span>
                  </div>
                 
                 <div>
                    <i class="fa-solid fa-circle-notch" id="icon-header-sidebar"></i>
                    <i class="fa-solid fa-message" id="icon-header-sidebar"></i>
                    <i class="fa-solid fa-ellipsis-vertical" id="icon-header-sidebar"></i>
                 </div>
               </div>
                
                <div class="ricevinotifiche">
                    <i class="fa-solid fa-bell-slash" id="campanella"></i><span>Ricevi notifiche di nuovi messaggi</span>
                </div>
                <div class="search-bar">
                    <a href=""><i class="fa fa-search"></i></a>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchChat">
                </div>
                
                <ul>
                    <!-- Itera sulle attività nell'array contact -->
                    <li class="contact" v-for="(contact, index) in contacts" :key="index" @click="showChat(index)" v-show="contact.name.toLowerCase().includes(searchChat.toLowerCase())">
                        
                        <img :src="contact.avatar" alt="Avatar di {{ contact.name }}">
                        <span>{{ contact.name }}</span>
                    </li>
                      
                </ul>
               
                
            </div>
            <div id="main-content">
                
                <div class="header-main">
                    <div>
                        <img src="Avatar/avatar_1.jpg" alt=""><span>Michele</span>
                    </div>
                   
                   <div>
                      <i class="fa-solid fa-magnifying-glass" id="icon-header-sidebar"></i>

                      <i class="fa-solid fa-paperclip" id="icon-header-sidebar"></i>

                      <i class="fa-solid fa-ellipsis-vertical" id="icon-header-sidebar"></i>
                   </div>
                </div>

                <div class="main-center">
                    <div v-if="selectContact !== null">
                        <div class="message" v-for="(message, messageIndex) in contacts[selectContact].messages" :key="messageIndex" :class="message.status">
                            <span>{{ message.message }}</span>
                        </div>
                    </div>
                    <!--</div>
                    <div class="message user-message">
                        <span>Hai portato il cane?</span>
                    </div>
                    <div class="message user-message">
                        <span>Ricordati di stendere i panni</span>
                    </div>

                    <div class="message interlocutor-message">
                        <span>Tutto fatto!</span>
                    </div>-->
                </div>

                <div class="footer-main">
                    <i class="fa-regular fa-face-smile" style="color: #a7a6a6"></i>

                    <div>
                        <input type="text" placeholder="Scrivi nuovo messaggio" v-model="newMessage" id="input-message" @keyup.enter="addMessage">
                    </div>

                    <i class="fa-solid fa-microphone" style="color: #a7a6a6"></i>
                </div>
            </div>
        </div>
    </div>
    </div>
   
   
    

    <script src="https://unpkg.com/vue@3"></script>
    <script src="script.js"></script>
</body>
</html>