*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    max-width: 70%;
    clear: both;
    margin-left: 40px;
    margin-right: 40px;
}

.user-message {
    background-color: #dcf8c6;
    float: right;
}

.interlocutor-message {
    background-color: #fff;
    float: left;
}
span{
    font-size: 13px;
    padding: 10px;
}

#wrapper{
    height: 100vh;
    width: 100vw;
    background-color:darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#container{
    height: 95%;
    max-width: 1100px;
    display: flex;
    margin:0 auto;
}

#main-content{
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    width: 700px;
    background-image: url(Default\ WhatsApp\ background\ for\ people\ who\ lost\ it_\ Requested\ by\ u_Marvin_der_kuhle.jpg);
    background-size:60%;
    display: flex;
    flex-direction: column;
    
}

.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #e7e7e7;
    border-left: 0.5px solid rgba(128, 128, 128, 0.247);
}

.main-center{
    flex-grow: 1;
}

.footer-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #e7e7e7;
}

#input-message{
    width: 600px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#sidebar{
    width: 400px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-sidebar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: #e7e7e7;
}

#icon-header-sidebar{
    color: #a7a6a6;
    padding:5px;
}

.ricevinotifiche{
    background-color:rgb(85, 229, 255);
    padding: 10px;
}

#campanella{
    background-color: white;
    color: rgb(85, 229, 255);;
    padding: 14px;
    border-radius: 50%;
    font-size: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

.fa-search{
    color: #a7a6a6;
    padding: 15px;
}

input{
    outline: none;
}

ul{
    list-style-type: none;
    padding:0;
    overflow-y: auto;
}

li{
    border-top: 0.5px solid rgba(128, 128, 128, 0.247);
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    
}

li:hover {
    background-color: #e0e0e0 ;
}

img{
    width: 45px;
    border-radius: 20px;
}
    